@font-face {
  font-family: "Haettenschweiler";
  src: url("fonts/HATTEN.TTF") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #cfcfcf;
  font-family: "Haettenschweiler";
}

input {
    background: none;
    border: none;
    outline: none;

    color: white;
    font-family: Haettenschweiler;
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;

}

#poolInput {
    position: relative;
    left: -31px;   /* вправо */
    top: -35px;    /* вниз */
}

#testsInput {
    position: relative;
    left: 140px;  /* влево */
    top: -72px;    /* вниз */
}

/* PHONE FRAME */
#phone {
  width: 375px;
  min-height: 812px;
  margin: 40px auto;
  background: white;
}

/* BLACK TOP PANEL */
#blackPanel {
  background: rgb(0, 0, 0);
  color: white;
  height: 520px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  padding-top: 40px; 
  text-align: center;
}

/* HEADER */
#header {
  font-size: 33px;
  letter-spacing: 2px;
  margin-bottom: 60px;
  margin-top: 50px;
}


#output {
  font-size: 270px;
  line-height: 0.5;
}

/* RESULT */
#resultPanel {
  display: none;
}

#resultPercent {
  font-size: 72px;
  margin-bottom: 30px;
}

.resultRow {
  display: flex;
  justify-content: space-around;
  font-size: 64px;
}

/* WHITE BOTTOM */
#whitePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 32px;
}

/* ANSWERS */

#plusButton {
  color: #78c8a0;
  font-size: 130px;
  width: 120px;
  height: 0px;
  border: none;
  background: none;
  transform: translate(-10px, -50px);
  
}

#minusButton {
  color: #e53935;
  font-size: 160px;
  width: 120px;
  height: 0px;
  border: none;
  background: none;
  transform: translate(10px, -50px);
}

/* MAIN BUTTON */
#randomButton {
  font-family: "Haettenschweiler";
  font-size: 72px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: none;
  background: none;
  margin-bottom: 40px;
  display: block;
  position: relative;
  z-index: 1000;
  
}

/* STAT */
#statsButton {
  font-family: "Haettenschweiler";
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #999;
  border: none;
  background: none;
  display: block;
  position: relative;
  z-index: 1000;

}
